<div class="container">
      <div class="row">
            <div class="col-lg-12">
                 <h2>Welcome to Same Day Repair</h2>
                 <hr>
            </div>
       </div>
       <div class="row">
            <div id="images">
                  <img src="assets/images/about-image.jpg" alt="background-image">
            </div>
       </div>     
</div>
<!--begin:AboutUs-->
<section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">We've got what you need!</h2>
                    <hr class="light">
                    <div id="para1" class="text-faded">
                    Looking for a fast Home-Appliance or Business Repair Service? We are locally Owned Appliance repair Company based in Orlando FL. We have been in business since 2010 . We specialized in Refrigator Repair, 
                    Washer Repair, Dryer Repair, Dish-Washer Repair, Range Repair, Oven Repair, Freezer Repair, CookTop Repair Service,
                    and much more. 90% of all repairs done the same day but if you need some specific Appliances parts they have to be ordered and usually takes 3-5 working days.
                    </div>
                    <a href="#services" class="page-scroll btn btn-default btn-xl sr-button">Get Started!</a>
                </div>
            </div>
        </div>
</section>
<!--end:AboutUs-->
